<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: 		#f0ecec;">
    <script src="https://kit.fontawesome.com/808ba9c7d8.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: #11007e;">
        <div class="container-fluid px-5">
            <a href="/dashboard">
                <i class="fa-solid fa-chart-line logo-book"></i>
            </a>
            <h3 class="text-white fw-bold" style="margin-bottom: 0px;">Dashboard</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="profilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span th:if="${#authorization.expression('isAuthenticated()')}"
                                th:text="${#authentication.name}">Profil</span>
                            <span th:if="${#authorization.expression('isAnonymous()')}">Profil</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profilDropdown">
                            <!-- Jika belum login -->
                            <li th:if="${#authorization.expression('isAnonymous()')}">
                                <a class="dropdown-item" href="/login">Login</a>
                            </li>
                            <li th:if="${#authorization.expression('isAnonymous()')}">
                                <a class="dropdown-item" href="/register">Register</a>
                            </li>

                            <!-- Jika sudah login -->
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <form th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container d-flex align-items-center" style="height: auto;">
        <div class="container mt-5 mb-5 border-0 shadow-sm container-upload-buku">
            <div class="row" style="margin: 10px;">
                <div class="container d-flex justify-content-center mb-5">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fa-solid fa-user-tie logo-book fa-4x" style="color: #11007e; width: 50px;"></i>
                        </div>
                        <div class="col" style="max-width:max-content;">
                            <h1 class="fw-bold" style="padding-bottom: 0; color: #11007e;">Tambah Admin</h1>
                        </div>
                    </div>
                </div>
    
                <form th:action="@{/tambah-admin}" method="post" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-3 col-form-label fw-bold">Nama</label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nama" required>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="username" class="col-sm-3 col-form-label fw-bold">Username</label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-3 col-form-label fw-bold">Password</label>
                        <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="address" class="col-sm-3 col-form-label fw-bold">Departemen</label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="department" name="department" placeholder="Depertemen" required>
                        </div>
                    </div>
    
                    <div class="text-end">
                        <a href="/tabel-anggota" class="btn btn-danger text-white">Cancel</a>
                        <button type="submit" class="btn text-white" style="background-color: #11007e;">Tambah Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>